.header {
    padding-top: 20px;
    height: fit-content;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.7);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

#main-img {
    background-image: url("store_0.jpg");
}

.row {
    background-color: antiquewhite;
    padding: 40px;
}

.sections {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-content: center;
}

.sections .row {
    display: flex;
    justify-content: center;
    align-content: center;
}


.sections .col {
    align-content: center;
    min-height: 300px;
    max-width: 300px;
    margin: 10px;
}



#shirt {
    background: url('C:\\Users\\mitch\\Downloads\\WebApp\\Site\\site.client\\src\\images\\store_0.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

#jeans {
    background: url('C:\\Users\\mitch\\Downloads\\WebApp\\Site\\site.client\\src\\images\\store_1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

#shoes {
    background: url('C:\\Users\\mitch\\Downloads\\WebApp\\Site\\site.client\\src\\images\\store_2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}




.carousel-inner img {
    object-fit: cover;
    height: 600px;
}

.sections h2 {
    background-color: white;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 600;
}

.make-big h2 {
    font-size: 40px;
}

.make-big > * {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.typicalButton {
    display: block;
    color: white;
    background-color: red;
    font-weight: 500;
    padding: 10px;
    margin: 10px;
    align-self: center;
    text-align: center;
    align-content: end;
    transition-duration: 0.2s;
    margin-left: 30%;
    margin-right: 30%;
}

.typicalButton:hover {
    background-color: rgba(255, 0, 0, 0.7);
}


.typicalButton:active {
    transform: translateY(5px);
    background-color: rgba(255, 0, 0, 0.9);
}

.make-big {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.make-big h2,
.make-big p {
    color: black;
}

.footer {
    width: 100%;


    padding-top: 20px;
    height: fit-content;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.7);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}


.header > * {
    font-weight: 600;
}

.header ul {
    list-style-type: none;
}

.light-font {
    font-weight: 400;
}

.header li {
    float: left;
    display: block;
    margin-left: 20px;
    margin-right: 30px;
}

.align-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}