{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "ClothUsers": "Server=YOUR_RDS_ENDPOINT,3306;Database=GotClothUsers;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;Encrypt=True;TrustServerCertificate=True;",
    "Carts": "Server=YOUR_RDS_ENDPOINT,3306;Database=Carts;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;Encrypt=True;TrustServerCertificate=True;"
  },
  "AppOptions": {
    "Layout": "pants"
  },
  "AWS": {
    "S3BucketName": "${S3_BUCKET_NAME}",
    "Region": "${AWS_REGION}",
    "AccessKeyId": "${AWS_ACCESS_KEY_ID}",
    "SecretAccessKey": "${AWS_SECRET_ACCESS_KEY}"
  }
}

